.nav-link {
  color: var(--white) !important;
  font-weight: 500;
}

.navbar {
  background-color: black !important;
}

.navbar-brand > img {
  margin-right: 25px;
} 

.navbar-light .navbar-brand {
  color: var(--white) !important;
  font-weight: 500;
}

.navbar-light .navbar-toggler-icon {
  background-color: #218838;
}

.navbar-nav > h2 {
  color: var(--white);
}